{% extends "source.html" %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="container d-flex justify-content-center">
        <form method="post">
          <input
            class="form-control"
            type="text"
            name="numberInput"
            id="input_"
            placeholder="Введите номер для добавления"
          />
          <input
            class="form-control"
            type="text"
            name="surnameInput"
            id="input_"
            placeholder="Введите фамилию для добавления"
          />
          <input
            class="form-control"
            type="text"
            name="nameInput"
            id="input_"
            placeholder="Введите имя для добавления"
          />
          <input
            class="form-control"
            type="text"
            name="patronymicInput"
            id="input_"
            placeholder="Введите отчество для добавления"
          />
          <input
            class="form-control"
            type="text"
            name="flatInput"
            id="input_"
            placeholder="Введите номер квартиры для добавления"
          />
          <input
            class="form-control"
            type="tel"
            name="phoneInput"
            id="input_"
            placeholder="Введите номер телефона для добавления"
          />
          <input
            class="form-control"
            type="text"
            name="carInput"
            id="input_"
            placeholder="Введите модель машины для добавления"
          />
          <button type="submit" id="btn_s" class="btn btn-success">
            Добавить!
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
