{% extends "source.html" %} {% block content %}
<form method="post">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center">
        <div class="container d-flex justify-content-center">
          <input
            class="form-control"
            class="form-text"
            type="text"
            name="input_"
            placeholder="Введите номер для удаления"
            autofocus
          />
          <button
            class="btn btn-success btn-sm"
            type="submit button"
            id="btn_"
            name="removeBtn"
          >
            Удалить!
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</form>
