{% extends "source.html" %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="container d-flex justify-content-center">
        <form method="post">
          <input
            class="form-control"
            type="text"
            name="input_"
            id="input_"
            placeholder="Введите номер для удаления"
          />
          <button type="submit" id="btn_" class="btn btn-success">
            Удалить!
          </button>
        </form>
      </div>
      <label class="text-success" id="result">{{result}}</label>
    </div>
  </div>
</div>
{% endblock %}
